.developers {
    background-image: url("/src/images/Group\ 1515.png");
    background-repeat: no-repeat;
    background-position: 90% top;


    &__title {
        margin-top: 210px;
        margin-bottom: 134px;

        // span {
        //     background-image: url("/src/images/");
        // }
    }

    &__item {
        font-family: Sora;
        font-weight: 600;
        font-size: 22px;
        line-height: 27.28px;
        color: rgba(21, 43, 70, 1);
        margin-bottom: 38px;    

    }

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__img {
        margin-top: 242px;
    }

    &__quote {
        margin-top: 242px;
        margin-left: 145px;
        width: 780px;
        text-align: justify;
        color: rgba(21, 43, 70, 1);
    }

    &__quote-2 {
        padding-left: 70px;
    }

    &__quote-text {
        font-family: Sora;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 53px;
        padding-left: 60px;
    }

    &__quote-author {
        font-family: Sora;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 3px;
        padding-left: 15px;
    }

    &__quote-company {
        font-family: Sora;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        padding-left: 15px;
    }
    
    &__arrow {
        margin-left: 230px;
    }

    &__arrow-left {
        margin-right: 20px;
    }

    &__arrow-right {
        margin-left: 0;
    }
}


.active {
    position: relative;
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 123%;
    margin: 35px 0;

    &:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10.9px;
    height: 10.9px;
    background-color: rgba(20, 156, 232, 1);
    margin-left: -20px;
    margin-top: 13px;
    transform: rotate(45deg);
    }
}


.list__title {    
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 47px;
    line-height: 56px;
    margin-bottom: 22px;
    padding-top: 56px;
    letter-spacing: 0.01em;   
}

.list__text {

    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 145%;
    margin-bottom: 18px;
}

